<% include ../header.ejs %>

<div class="well jumbotron">
  <div class="container">
    <div class="page-header" style="text-align:center">
      <h1>欢迎你，<%= name %><small>拼客，娱乐活动最好的选择</small></h1>
    </div>
    <div style="text-align:center">
      <button type="button" class="btn btn-danger">登出</button>
    </div>
  </div>
</div>

<% include ../footer.ejs %>
