<% include ../header.ejs %>

<div class="well jumbotron">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="/customer/login">登录页面</a></li>
    <li role="presentation"><a href="/customer/home">主要页面</a></li>
    <li role="presentation"><a href="/customer/reg">注册页面</a></li>
    <li role="presentation"><a href="/customer/upload">上传页面</a></li>
  </ul>
</div>

<% include ../footer.ejs %>
