<% include ../header.ejs %>

<div class="well jumbotron">
  <div class="container">
    <div class="page-header" style="text-align:center">
      <h1>注册<small>拼客，娱乐活动最好的选择</small></h1>
    </div>
    <form method='post' enctype='multipart/form-data' >
      <div class="input-group">
        <span class="input-group-addon">上传</span>
        <input type="file" class="form-control" placeholder="密码" aria-describedby="basic-addon1" name="upload">
      </div>
      <div style="text-align:center">
        <button type="submit" class="btn btn-primary">上传</button>
      </div>
    </from>
  </div>
</div>

<% include ../footer.ejs %>
